/* App.css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: rgb(97, 97, 97);
}

li {
  list-style: none;
}

.btn {
  padding: 10px 22px;
  margin-right: 6px;

  background: transparent;
  border: 1px solid #d0d0d0;
  border-radius: 6px;

  color: #323232;
  font-size: 14px;

  cursor: pointer;
}

.btn:hover {
  background: #f7f7f7;
}